#container{
  position: relative;
  min-height: 100%;
  min-width: 100%;
  padding: 4%;
  max-width: max-content;
  max-height: max-content;
}

::ng-deep.p-timeline-event-opposite {
  display: none;
}

::ng-deep.p-card {
  background-color: #333333;
}

.margin10{
  margin: 10px;
  background-color: #333333;
}

::ng-deep.p-chip{
  background-color: black;
}

::ng-deep.p-button{
  color:#99F6E4;
  margin-left: 5px;
  margin-right: 5px;
  background-color:black;
}

#save, #cancel{
  background-color: #333333;
}

