<div id="container">
  <h1>Education Details</h1>
  <div class="card">
    <p-timeline [value]="events" align="left" styleClass="customized-timeline">
      <ng-template pTemplate="marker" let-event>
        <span class="custom-marker shadow-2" [style.color]="event.color">
          <i [ngClass]="event.icon"></i>
        </span>
      </ng-template>
      <ng-template pTemplate="content" let-event>
        <p-card>
          <ng-template pTemplate="header">
            <div style="display:flex;">
              <div style="margin: 10px;"><img alt="Card"
                  style="width:100px;height: 100px;border-radius: 100px;position: relative;top: 50%;left: 50%;transform: translate(-50%,-50%);"
                  [src]="event.schoolLogo" /></div>
              <div style="display: flex;flex-direction: column;">
                <div>
                  <h2 style="margin-bottom: 0;">{{event.schoolName}}</h2>
                </div>
                <div>
                  <h4 style="margin-bottom: 0;">{{event.startDate}} - {{event.endDate}}</h4>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="card-content" style="display: flex;flex-direction:column;">
              <div style="align-items: center;display: flex;flex-direction: row;">
                <div style="margin: 10px;">Skills</div>
                <div class="card flex align-items-center gap-2 flex-wrap">
                  <p-chip class="margin10" *ngFor="let item of event.skill"
                          [label]="item.name" [image]="item.logo"></p-chip>
                  <p-chip class="margin10" label="More" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"></p-chip>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times"></p-button>
          </ng-template>
        </p-card>
      </ng-template>
    </p-timeline>
  </div>
</div>

<!-- | slice:0:5 as any -->
