<!-- <div class="book-container" [class.open]="isOpen">
  <div class="book">
    <div class="page right">
      <div *ngIf="rightPage" class="innerPage">
        <div class="contentContainer mirror">
          <div class="lockContainer">
            <button class="lockContent" (click)="toggleBook()">
              <span class="material-symbols-outlined rotate-90deg">
                {{base.icons.lock}}
              </span>
            </button>
          </div>
          <div id="content">
            <app-shared [headerTemplate]="base.headers[2]" [template]="template1" [data]="base.contact"></app-shared>
          </div>
        </div>
      </div>
      <div *ngIf="!rightPage" class="coverPage">
        <div class="contentContainer">

        </div>
      </div>
    </div>
    <div class="page middle" [ngClass]="{'middle':middlePage}">
      <div *ngIf="middlePage" class="innerPage">
        <div class="contentContainer">
          <div class="lockContainer">

          </div>
          <div id="content">
            <app-shared [headerTemplate]="base.headers[1]"></app-shared>
          </div>
        </div>
      </div>
      <div *ngIf="!middlePage" class="coverPage">
        <div class="contentContainer">

        </div>
      </div>
    </div>
    <div class="page left">
      <div *ngIf="!leftPage" class="innerPage">
        <div class="contentContainer mirror">
          <div class="lockContainer">

          </div>
          <div id="content">
            <app-shared [headerTemplate]="base.headers[0]" [template]="template2" [data]="base.sections"></app-shared>
          </div>
        </div>
      </div>
      <div *ngIf="leftPage" class="coverPage">
        <div class="contentContainer">
          <div class="profileContainer">
            <img class="profileContent" [src]="base.profile.profileImage" [ngClass]="{'fade-in': isProfileVisible}">
          </div>
          <div class="unlockContainer">
            <button class="unlockContent" (click)="toggleBook()">
              <span class="material-symbols-outlined">
                {{base.icons.openLock}}
              </span>
            </button>
          </div>
          <div class="tagLineContainer flexDirectionColumn">
            <div class="name" [ngClass]="{'fade-in': isNameVisible}">{{ displayText }}</div>
            <div class="profession" [ngClass]="{'fade-in': isProfessionVisible}">
              {{base.profile.profession}}
            </div>
            <div class="current" [ngClass]="{'fade-in': isCurrentVisible}">
              {{base.profile.current}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="portrait-view">
  <app-grid></app-grid>
</div>
