.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.innerPage {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('~src/assets/innerPage.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  color: black;
}

.coverPage {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('~src/assets/bookCover.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  color: white;
}
