.mainContentContainer,
.subCotentContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 5%;
}

.mainContentContainer {
  height: 95%;
}

.header {
  display: flex;
  height: max-content;
  font-weight: bold;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: center;
  gap: 10%;
  border-top: 0.7vh solid black;
  border-bottom: 0.7vh solid black;
  color: black;
}

.formContent {
  position: relative;
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
}

.center {
  width: 100%;
  justify-content: center;
  display: flex;
}

.height50 {
  height: 40%;
}

.textarea {
  position: relative;
  width: 100%;
  height: 100%;
}

.emailButton {
  color: white;
  background-color: black;
  border: none;
  outline: none;
  border-radius: 1vh;
  padding: 2vh;
}

.gap10 {
  gap: 10%
}

.column {
  flex-direction: column;
}

.contactDetails {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
}

.header-medium {
  width: 100%;

}

.bold {
  font-weight: bold;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.full-width {
  width: 100%;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  gap: 2vh;
}

.skillContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2vh;
  width: 100%;
  position: relative;
  padding: 2vh;
  flex-wrap: wrap;
}

.skillContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.align-items-center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rolesResp {
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.example-spacer {
  flex: 1 1 auto;
}

.firm {
  display: flex;
  flex-direction: row;
}

.employment {
  display: flex;
  flex-direction: column;
}


.gap2vh {
  gap: 2vh;
}

.gap4vh {
  gap: 4vh;
}

.padding-top-bottom {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.mainHeaderFont {
  font-size: 5vh;
}

.subHeaderFont {
  font-size: 3.5vh;
  border-bottom: 0.5vh solid black
}

.subSubHeaderFont {
  font-size: 2.5vh;
}

.subSubHeaderBorder {
  border-top: 0.3vh solid black;
  border-bottom: 0.3vh solid black;
}

.noborder {
  border: none;
}

.imgIcons {
  height: 10vh;
  width: 10vh;
}
