@import "../node_modules/primeng/resources//themes//lara-dark-teal/theme.css";
@import "../node_modules/primeng/resources/primeng.css";

html,body{
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  background-color: BLACK;
}
