#techContainer {
  position: relative;
  height: 100%;
  width: 98%;
  padding: 10px;
}

#skillContainer{
  position: relative;
  height: 100%;
  width: 98%;
  padding-bottom: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: auto;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.flex-item {
  box-sizing: border-box;
}

.p-card {
  max-width: 335px;
  background-color: #333333 !important;
}

.p-chip {
  position: relative;
  display: inline-block;
  margin: 5px;
  background-color: black;
  overflow: hidden;
  border-radius: 10px;
  /* Adjust the border-radius as needed */
}

.p-chip:hover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  border: 2px solid #00f;
  /* Adjust border width and color */
  border-radius: 10px;
  /* Same as the .p-chip border-radius */
  opacity: 0;
  animation: neon-border 1s ease-in-out infinite;
}

@keyframes neon-border {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.p-element {
  background-color: transparent;
}

.p-card-content {
  padding: 0%;
}
