<div id="container">
    <div id="profile">
        fghjk
    </div>
    <div id="tagline">
        <span>Greetings! I'm </span>
        <span id="name" #name [style.font-size]="'xx-large'" [style.display]="'inline-block'" [style.width]="'100%'"></span>
        <span *ngIf="second==true" style="transition: width 1s cubic-bezier(0.39, 0.58, 0.57, 1);;">an enthusiastic Software Engineer infusing innovation into each line of code. With expertise in developing seamless and dynamic Angular applications, I bring a blend of creativity and precision to the realm of software development.</span>
    </div>

</div>
